<h1 class="mb-5">Welcome to the Express Portfolio Site</h1>
<button id="AboutUsButton" class="btn btn-primary">Learn more About Us!</button>
<p></p>
<p>Mission Statement: A Fictitious Portfolio Website using ExpressJS and implementing the EJS templating engine. The site will be hosted live on a cloud service such as Microsoft Azure, Heroku, or Digital Ocean. Site will also include a secure area that displays a list of business contacts. Users will have to provide a username and password to access this area. The Contact List and your authentication credentials will exist in a MongoDB database. The site will be able to perform full CRUD for your contact list so you will need to create all required views.</p>
